<launch>
    <arg name="location"    default="kcity"/>
    <arg name="mode"        default="real"/>

    <rosparam file="config/rosparam_system.yaml"    command="load"/>    
    <node pkg="goalpoint_planning" type="goalpoint_planning" name="goalpoint_planning" output="screen" respawn="true">
        <param name="location"  value="$(arg location)"/>
        <param name="mode"      value="$(arg mode)"/>   
    </node>
</launch>
